.form_button{
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border:2px solid var(--primary-color);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    cursor: pointer;
    transition: .7s;

}

.form_button:hover{
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.form_button_light{
    border: 2px solid var(--secundary-color);
    color: var(--secundary-color);
}

.form_button_light:hover{
    background-color: var(--secundary-color);
    color: var(--primary-color);
}